 <!-- Plugins CSS File -->
 <link rel="stylesheet" href="/assets/users/css/bootstrap.min.css">
 <!-- Main CSS File -->
 <link rel="stylesheet" href="/assets/users/css/style.css">
 <div class="page-wrapper">
   <main class="main">
     <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
       <div class="container">
         <h1 class="page-title">Checkout<span>Shop</span></h1>
       </div><!-- End .container -->
     </div><!-- End .page-header -->
     <nav aria-label="breadcrumb" class="breadcrumb-nav">
       <div class="container">
         <ol class="breadcrumb">
           <li class="breadcrumb-item"><a href="index.html">Home</a></li>
           <li class="breadcrumb-item"><a href="#">Shop</a></li>
           <li class="breadcrumb-item active" aria-current="page">Checkout</li>
         </ol>
       </div><!-- End .container -->
     </nav><!-- End .breadcrumb-nav -->

     <div class="page-content">
       <div class="checkout">
         <div class="container">
           <div class="checkout-discount">
             <form action="#">
               <input type="text" class="form-control" required id="checkout-discount-input">
               <label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click here to enter your
                   code</span></label>
             </form>
           </div><!-- End .checkout-discount -->
           <form action="" [formGroup]="frmBillingDetails">
             <div class="row">
               <div class="col-lg-9">
                 <h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
                 <div class="row">
                   <div class="col-sm-6">
                     <label>First Name *</label>
                     <input type="text" class="form-control" [(ngModel)]="firstName" formControlName="firstName"
                       required>
                   </div><!-- End .col-sm-6 -->

                   <div class="col-sm-6">
                     <label>Last Name *</label>
                     <input type="text" class="form-control" [(ngModel)]="lastName" formControlName="lastName" required>
                   </div><!-- End .col-sm-6 -->
                 </div><!-- End .row -->
                 <label>Contact *</label>
                 <input type="text" class="form-control" [(ngModel)]="invoice.customerContact" formControlName="contact"
                   required>

                 <label>Destination *</label>
                 <input type="text" class="form-control"
                   placeholder="No.50, Le Trong Tan St., Thanh Xuan District, Ha Noi City"
                   [(ngModel)]="invoice.shippingAddress" formControlName="shippingAddress" required>
                 <label>Email address *</label>
                 <input type="email" [(ngModel)]="email" formControlName="email" class="form-control" required>



                 <label>Order notes (optional)</label>
                 <textarea class="form-control" cols="30" rows="4"
                   placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
               </div><!-- End .col-lg-9 -->
               <aside class="col-lg-3">
                 <div class="summary">
                   <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                   <table class="table table-summary">
                     <thead>
                       <tr>
                         <th>Product</th>
                         <th>Total</th>
                       </tr>
                     </thead>

                     <tbody>
                       <tr *ngFor="let item of carts">
                         <td><a [routerLink]="['/user/home/product/detail/'+item.id]">{{item.product.name}}</a></td>
                         <td>{{item.product.price*item.quantity|currency}}</td>
                       </tr>
                       <tr class="summary-subtotal">
                         <td>Subtotal:</td>
                         <td>{{ cartTotal|currency}}</td>
                       </tr><!-- End .summary-subtotal -->
                       <tr>
                         <td>Shipping:</td>
                         <td><select title="shipping" placeholder="Select the delivery methods" name="shipping"
                             [(ngModel)]="invoice.ship" [ngModelOptions]="{standalone: true}" (change)="loadTotal()">
                             <option value="Free Shipping">Free Shipping (15 days)</option>
                             <option value="Standard">Standard (10 days)</option>
                             <option value="Express">Express (7 days)</option>
                             <option value="Urgent">Urgent (3 days)</option>
                           </select></td>
                       </tr>
                       <tr class="summary-total">
                         <td>Total:</td>
                         <td>{{total|currency}}</td>
                       </tr><!-- End .summary-total -->
                     </tbody>
                   </table><!-- End .table table-summary -->

                   <div class="accordion-summary" id="accordion-payment">
                     <div class="card">
                       <div class="card-header" id="heading-1">
                         <h2 class="card-title">
                           <a role="button" data-toggle="collapse" (click)="setPayment('Direct bank transfer')"
                             href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                             Direct bank transfer
                           </a>
                         </h2>
                       </div><!-- End .card-header -->
                       <div id="collapse-1" class="collapse show" aria-labelledby="heading-1"
                         data-parent="#accordion-payment">
                         <div class="card-body">
                           Make your payment directly into our bank account. Please use your Order ID as the payment
                           reference. Your order will not be shipped until the funds have cleared in our account.
                         </div><!-- End .card-body -->
                       </div><!-- End .collapse -->
                     </div><!-- End .card -->

                     <div class="card">
                       <div class="card-header" id="heading-2">
                         <h2 class="card-title">
                           <a class="collapsed" role="button" (click)="setPayment('Check payments')"
                             data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                             Check payments
                           </a>
                         </h2>
                       </div><!-- End .card-header -->
                       <div id="collapse-2" class="collapse" aria-labelledby="heading-2"
                         data-parent="#accordion-payment">
                         <div class="card-body">
                           Ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
                           Nullam malesuada erat ut turpis.
                         </div><!-- End .card-body -->
                       </div><!-- End .collapse -->
                     </div><!-- End .card -->

                     <div class="card">
                       <div class="card-header" id="heading-3">
                         <h2 class="card-title">
                           <a class="collapsed" role="button" (click)="setPayment('Cash on delivery')"
                             data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                             Cash on delivery
                           </a>
                         </h2>
                       </div><!-- End .card-header -->
                       <div id="collapse-3" class="collapse" aria-labelledby="heading-3"
                         data-parent="#accordion-payment">
                         <div class="card-body">Quisque volutpat mattis eros. Lorem ipsum dolor sit amet, consectetuer
                           adipiscing elit. Donec odio. Quisque volutpat mattis eros.
                         </div><!-- End .card-body -->
                       </div><!-- End .collapse -->
                     </div><!-- End .card -->

                     <div class="card">
                       <div class="card-header" id="heading-4">
                         <h2 class="card-title">
                           <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4"
                             aria-expanded="false" aria-controls="collapse-4">
                             PayPal <small class="float-right paypal-link">What is PayPal?</small>
                           </a>
                         </h2>
                       </div><!-- End .card-header -->
                       <div id="collapse-4" class="collapse" aria-labelledby="heading-4"
                         data-parent="#accordion-payment">
                         <div class="card-body">
                           Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere
                           a, pede. Donec nec justo eget felis facilisis fermentum.
                         </div><!-- End .card-body -->
                       </div><!-- End .collapse -->
                     </div><!-- End .card -->

                     <div class="card">
                       <div class="card-header" id="heading-5">
                         <h2 class="card-title">
                           <a class="collapsed" role="button" (click)="setPayment('MoMo e-Wallet')"
                             data-toggle="collapse" href="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
                             MoMo e-Wallet
                           </a>
                         </h2>
                       </div><!-- End .card-header -->
                       <div id="collapse-5" class="collapse" aria-labelledby="heading-5"
                         data-parent="#accordion-payment">
                         <div class="card-body"> Donec nec justo eget felis facilisis fermentum.Lorem ipsum dolor sit
                           amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Lorem ipsum
                           dolor sit ame.
                         </div><!-- End .card-body -->
                       </div><!-- End .collapse -->
                     </div><!-- End .card -->
                   </div><!-- End .accordion -->

                   <button type="submit" [disabled]="frmBillingDetails.invalid" (click)="placeOrder()"
                     class="btn btn-outline-primary-2 btn-order btn-block">
                     <span class="btn-text">Place Order</span>
                     <span class="btn-hover-text">Proceed to Checkout</span>
                   </button>
                 </div><!-- End .summary -->
               </aside><!-- End .col-lg-3 -->
             </div><!-- End .row -->
           </form>
         </div><!-- End .container -->
       </div><!-- End .checkout -->
     </div><!-- End .page-content -->
   </main><!-- End .main -->
 </div>
