.card-header {
  /* font-size: 16px; */
  font-weight: bold;
  /* display: flex; */
  align-items: center;
  align-content: center;
  line-height: 10px;
}
.card-header:hover {
  cursor: pointer;
}
.card-title {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 14px;
}
.custom-control {
  padding: 10px;
  display: none;
  /* visibility: hidden; */
  transform: translateY(0);
  position: relative;
  z-index: inherit;
}
.custom-control p {
  font-family: monospace;
  font-size: 12px;
  margin-bottom: 2px;
}
.custom-control p span {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 12px;
}
.card:hover > .custom-control {
  display: block;
  transform: translateY(1);
  transition: all 10s ease-in-out;
  position: relative;
  z-index: 100;
}
