<link rel="stylesheet" href="/assets/users/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
<link rel="stylesheet" href="/assets/users/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/users/css/plugins/owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="/assets/users/css/plugins/magnific-popup/magnific-popup.css">
<link rel="stylesheet" href="/assets/users/css/plugins/jquery.countdown.css">
<link rel="stylesheet" href="/assets/users/css/style.css">
<link rel="stylesheet" href="/assets/users/css/skins/skin-demo-3.css">
<link rel="stylesheet" href="/assets/users/css/demos/demo-3.css">
<!-- <body> -->
<div class="page-wrapper">
  <header class="header header-intro-clearance header-3">
    <div class="header-top">
      <div class="container">
        <div class="header-left">
          <a href="tel:#"><i class="icon-phone"></i>Call: +0123 456 789</a>
        </div><!-- End .header-left -->

        <div class="header-right">

          <ul class="top-menu">
            <li>
              <a href="#">Links</a>
              <ul>
                <li>
                  <div class="header-dropdown">
                    <a href="#">USD</a>
                    <div class="header-menu">
                      <ul>
                        <li><a href="#">Eur</a></li>
                        <li><a href="#">Usd</a></li>
                      </ul>
                    </div><!-- End .header-menu -->
                  </div>
                </li>
                <li>
                  <div class="header-dropdown">
                    <a href="#">English</a>
                    <div class="header-menu">
                      <ul>
                        <li><a href="#">English</a></li>
                        <li><a href="#">French</a></li>
                        <li><a href="#">Spanish</a></li>
                      </ul>
                    </div><!-- End .header-menu -->
                  </div>
                </li>
                <li *ngIf="!checkLogin()"><a href="#signin-modal" data-toggle="modal">{{displayname}}</a></li>
                <li *ngIf="checkLogin()"><a href="javascript:void(0)" (click)="navigate()"
                    data-toggle="modal">{{displayname}}</a></li>
                <!-- <li><a href="#signin-modal" data-toggle="modal">Sign in / Sign up</a></li> -->
                <!-- <li><a href="#signin-modal" *ngIf="checkLogin()" data-toggle="modal">{{user.username}}</a></li> -->
                <!-- <li><a href="#signin-modal" data-toggle="modal">{{user.username}}</a></li> -->
              </ul>
            </li>
          </ul><!-- End .top-menu -->
        </div><!-- End .header-right -->

      </div><!-- End .container -->
    </div><!-- End .header-top -->

    <div class="header-middle">
      <div class="container">
        <div class="header-left">
          <button class="mobile-menu-toggler">
            <span class="sr-only">Toggle mobile menu</span>
            <i class="icon-bars"></i>
          </button>

          <a href="index.html" class="logo">
            <img src="assets/users/images/demos/demo-3/logo.png" alt="Molla Logo" width="105" height="25">
          </a>
        </div><!-- End .header-left -->

        <div class="header-center">
          <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
            <a href="javascript:void(0)" class="search-toggle" role="button"><i class="icon-search"></i></a>
            <form action="#" method="get">
              <div class="header-search-wrapper search-wrapper-wide">
                <label for="q" class="sr-only">Search</label>
                <button class="btn btn-primary" type="submit" (click)="search()"><i class="icon-search"></i></button>
                <input type="search" [(ngModel)]="filter.name" class="form-control" name="q" id="q"
                  placeholder="Search product ..." required>
              </div><!-- End .header-search-wrapper -->
            </form>
          </div><!-- End .header-search -->
        </div>

        <div class="header-right">
          <div class="dropdown cart-dropdown">
            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false" data-display="static">
              <div class="icon">
                <i class="icon-shopping-cart"></i>
                <span class="cart-count">{{carts.length}}</span>
              </div>
              <p>Your Cart</p>
            </a>

            <div class="dropdown-menu dropdown-menu-right">
              <div class="dropdown-cart-products">
                <div *ngFor="let item of carts" class="product cart-product">
                  <div class="product-cart-details">
                    <h4 class="product-title">
                      <a [routerLink]="['detail/'+item.product.id]">{{item.product.name}}</a>
                    </h4>

                    <span class="cart-product-info">
                      <span class="cart-product-qty">{{item.quantity}}</span>
                      x {{item.product.price|currency}}
                    </span>
                  </div><!-- End .product-cart-details -->

                  <figure class="product-users/image-container cart-image">
                    <a [routerLink]="['detail/'+item.product.id]" class="product-users/image">
                      <img src="/assets/Wallpapers/Electronics/{{item.product.image}}" alt="product">
                    </a>
                  </figure>
                  <a href="javascript:void(0)" (click)="removeFromCart(item)" class="btn-remove"
                    title="Remove Product"><i class="icon-close"></i></a>
                </div><!-- End .product -->
              </div><!-- End .cart-product -->

              <div class="dropdown-cart-total">
                <span>Total</span>

                <span class="cart-total-price">{{cartTotal|currency}}</span>
              </div><!-- End .dropdown-cart-total -->

              <div class="dropdown-cart-action">
                <a routerLink="cart" class="btn btn-primary">View Cart</a>
                <a routerLink="checkout" class="btn btn-outline-primary-2"><span>Checkout</span><i
                    class="icon-long-arrow-right"></i></a>
              </div><!-- End .dropdown-cart-total -->
            </div><!-- End .dropdown-menu -->
          </div><!-- End .cart-dropdown -->
        </div><!-- End .header-right -->
      </div><!-- End .container -->
    </div><!-- End .header-middle -->

    <div class="header-bottom sticky-header">
      <div class="container">
        <div class="header-left">
          <div class="dropdown category-dropdown">
            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false" data-display="static" title="Browse Categories">
              Browse Categories <i class="icon-angle-down"></i>
            </a>

            <div class="dropdown-menu">
              <nav class="side-nav">
                <ul class="menu-vertical sf-arrows">
                  <li *ngFor="let item of categories" class="item-lead"><a href="javascript:void(0)">{{item.name}}</a>
                  </li>

                </ul><!-- End .menu-vertical -->
              </nav><!-- End .side-nav -->
            </div><!-- End .dropdown-menu -->
          </div><!-- End .category-dropdown -->
        </div><!-- End .header-left -->

        <div class="header-center">
          <nav class="main-nav">
            <ul class="menu sf-arrows">
              <li>
                <a href="index.html" class="sf">Home</a>

              </li>
              <li>
                <a routerLink="product" class="sf">Products</a>

              </li>
              <li>
                <a href="#" class="sf-with-ul">Pages</a>

                <ul>
                  <li>
                    <a href="about.html" class="sf-with-ul">About</a>

                    <ul>
                      <li><a href="about.html">About 01</a></li>
                      <li><a href="about-2.html">About 02</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="contact.html" class="sf-with-ul">Contact</a>

                    <ul>
                      <li><a href="contact.html">Contact 01</a></li>
                      <li><a href="contact-2.html">Contact 02</a></li>
                    </ul>
                  </li>
                  <li><a href="login.html">Login</a></li>
                  <li><a href="faq.html">FAQs</a></li>
                  <li><a href="404.html">Error 404</a></li>
                  <li><a href="coming-soon.html">Coming Soon</a></li>
                </ul>
              </li>
              <li>
                <a href="blog.html" class="sf-with-ul">Blog</a>

                <ul>
                  <li><a href="blog.html">Classic</a></li>
                  <li><a href="blog-listing.html">Listing</a></li>
                  <li>
                    <a href="#">Grid</a>
                    <ul>
                      <li><a href="blog-grid-2cols.html">Grid 2 columns</a></li>
                      <li><a href="blog-grid-3cols.html">Grid 3 columns</a></li>
                      <li><a href="blog-grid-4cols.html">Grid 4 columns</a></li>
                      <li><a href="blog-grid-sidebar.html">Grid sidebar</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Masonry</a>
                    <ul>
                      <li><a href="blog-masonry-2cols.html">Masonry 2 columns</a></li>
                      <li><a href="blog-masonry-3cols.html">Masonry 3 columns</a></li>
                      <li><a href="blog-masonry-4cols.html">Masonry 4 columns</a></li>
                      <li><a href="blog-masonry-sidebar.html">Masonry sidebar</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Mask</a>
                    <ul>
                      <li><a href="blog-mask-grid.html">Blog mask grid</a></li>
                      <li><a href="blog-mask-masonry.html">Blog mask masonry</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Single Post</a>
                    <ul>
                      <li><a href="single.html">Default with sidebar</a></li>
                      <li><a href="single-fullwidth.html">Fullwidth no sidebar</a></li>
                      <li><a href="single-fullwidth-sidebar.html">Fullwidth with sidebar</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <a href="elements-list.html" class="sf-with-ul">Elements</a>

                <ul>
                  <li><a href="elements-products.html">Products</a></li>
                  <li><a href="elements-typography.html">Typography</a></li>
                  <li><a href="elements-titles.html">Titles</a></li>
                  <li><a href="elements-banners.html">Banners</a></li>
                  <li><a href="elements-product-category.html">Product Category</a></li>
                  <li><a href="elements-video-banners.html">Video Banners</a></li>
                  <li><a href="elements-buttons.html">Buttons</a></li>
                  <li><a href="elements-accordions.html">Accordions</a></li>
                  <li><a href="elements-tabs.html">Tabs</a></li>
                  <li><a href="elements-testimonials.html">Testimonials</a></li>
                  <li><a href="elements-blog-posts.html">Blog Posts</a></li>
                  <li><a href="elements-portfolio.html">Portfolio</a></li>
                  <li><a href="elements-cta.html">Call to Action</a></li>
                  <li><a href="elements-icon-boxes.html">Icon Boxes</a></li>
                </ul>
              </li>
            </ul><!-- End .menu -->
          </nav><!-- End .main-nav -->
        </div><!-- End .header-center -->

        <div class="header-right">
          <i class="la la-lightbulb-o"></i>
          <p>Clearance<span class="highlight">&nbsp;Up to 30% Off</span></p>
        </div>
      </div><!-- End .container -->
    </div><!-- End .header-bottom -->
  </header><!-- End .header -->

  <router-outlet (activate)="onActive($event)"></router-outlet>
  <!-- <router-outlet></router-outlet> -->

  <footer class="footer">
    <div class="footer-middle">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-lg-3">
            <div class="widget widget-about">
              <img src="assets/users/images/demos/demo-3/logo-footer.png" class="footer-logo" alt="Footer Logo"
                width="105" height="25">
              <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu
                erat.
              </p>

              <div class="widget-call">
                <i class="icon-phone"></i>
                Got Question? Call us 24/7
                <a href="tel:#">0339882065</a>
              </div><!-- End .widget-call -->
            </div><!-- End .widget about-widget -->
          </div><!-- End .col-sm-6 col-lg-3 -->

          <div class="col-sm-6 col-lg-3">
            <div class="widget">
              <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

              <ul class="widget-list">
                <li><a href="about.html">About Molla</a></li>
                <li><a href="#">Our Services</a></li>
                <li><a href="#">How to shop on Molla</a></li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="contact.html">Contact us</a></li>
              </ul><!-- End .widget-list -->
            </div><!-- End .widget -->
          </div><!-- End .col-sm-6 col-lg-3 -->

          <div class="col-sm-6 col-lg-3">
            <div class="widget">
              <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

              <ul class="widget-list">
                <li><a href="#">Payment Methods</a></li>
                <li><a href="#">Money-back guarantee!</a></li>
                <li><a href="#">Returns</a></li>
                <li><a href="#">Shipping</a></li>
                <li><a href="#">Terms and conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
              </ul><!-- End .widget-list -->
            </div><!-- End .widget -->
          </div><!-- End .col-sm-6 col-lg-3 -->

          <div class="col-sm-6 col-lg-3">
            <div class="widget">
              <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

              <ul class="widget-list">
                <li><a href="#">Sign In</a></li>
                <li><a href="cart.html">View Cart</a></li>
                <li><a href="#">My Wishlist</a></li>
                <li><a href="#">Track My Order</a></li>
                <li><a href="#">Help</a></li>
              </ul><!-- End .widget-list -->
            </div><!-- End .widget -->
          </div><!-- End .col-sm-6 col-lg-3 -->
        </div><!-- End .row -->
      </div><!-- End .container -->
    </div><!-- End .footer-middle -->

    <div class="footer-bottom">
      <div class="container">
        <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p>
        <!-- End .footer-copyright -->
        <figure class="footer-payments">
          <img src="assets/users/images/payments.png" alt="Payment methods" width="272" height="20">
        </figure><!-- End .footer-payments -->
      </div><!-- End .container -->
    </div><!-- End .footer-bottom -->
  </footer><!-- End .footer -->
</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>


<!-- Sign in / Register Modal -->
<div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="icon-close"></i></span>
        </button>

        <div class="form-box">
          <div class="form-tab">
            <ul class="nav nav-pills nav-fill nav-border-anim" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab"
                  aria-controls="signin" aria-selected="true">Sign In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab"
                  aria-controls="register" aria-selected="false">Register</a>
              </li>
            </ul>
            <div class="tab-content" id="tab-content-5">
              <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">
                <form action="#">
                  <div class="form-group">
                    <label for="singin-email">Username or email address *</label>
                    <input type="text" class="form-control" id="singin-email" name="singin-email"
                      [(ngModel)]="user.username" required>
                  </div><!-- End .form-group -->

                  <div class="form-group">
                    <label for="singin-password">Password *</label>
                    <input type="password" class="form-control" id="singin-password" name="singin-password"
                      [(ngModel)]="user.password" required>
                  </div><!-- End .form-group -->

                  <div class="form-footer">
                    <button type="submit" class="btn btn-outline-primary-2" (click)="login()">
                      <span>LOG IN</span>
                      <i class="icon-long-arrow-right"></i>
                    </button>

                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="signin-remember">
                      <label class="custom-control-label" for="signin-remember">Remember Me</label>
                    </div><!-- End .custom-checkbox -->

                    <a href="admin" class="forgot-link">Forgot Your Password?</a>
                  </div><!-- End .form-footer -->
                </form>
                <div class="form-choice">
                  <p class="text-center">or sign in with</p>
                  <div class="row">
                    <div class="col-sm-6">
                      <a href="#" class="btn btn-login btn-g">
                        <i class="icon-google"></i>
                        Login With Google
                      </a>
                    </div><!-- End .col-6 -->
                    <div class="col-sm-6">
                      <a href="#" class="btn btn-login btn-f">
                        <i class="icon-facebook-f"></i>
                        Login With Facebook
                      </a>
                    </div><!-- End .col-6 -->
                  </div><!-- End .row -->
                </div><!-- End .form-choice -->
              </div><!-- .End .tab-pane -->
              <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                <form action="" [formGroup]="frmRegister">
                  <div class="form-group">
                    <label for="register-email">Your email address *</label>
                    <input type="email" class="form-control" id="register-email" formControlName="email"
                      [(ngModel)]="user.email" required>
                  </div><!-- End .form-group -->
                  <div class="form-group">
                    <label for="register-firstName">Your First Name *</label>
                    <input type="text" class="form-control" [(ngModel)]="user.firstName" id="register-firstName"
                      formControlName="firstName" required>
                  </div><!-- End .form-group -->
                  <div class="form-group">
                    <label for="register-lastName">Your Last Name *</label>
                    <input type="text" class="form-control" [(ngModel)]="user.lastName" id="register-lastName"
                      formControlName="lastName" required>
                  </div><!-- End .form-group -->
                  <div class="form-group">
                    <label for="register-address">Your Address *</label>
                    <input type="text" class="form-control" [(ngModel)]="user.address" id="register-address"
                      formControlName="address" required>
                  </div><!-- End .form-group -->
                  <div class="form-group">
                    <label for="register-password">Password *</label>
                    <input type="password" class="form-control" id="register-password" formControlName="password"
                      [(ngModel)]="user.password" required>
                  </div><!-- End .form-group -->
                  <div class="form-group">
                    <label for="register-phone">Your Phone Number *</label>
                    <input type="text" class="form-control" id="register-phone" formControlName="phone"
                      [(ngModel)]="user.phone" required>
                  </div><!-- End .form-group -->
                  <div class="form-footer">
                    <button type="submit" [disabled]="frmRegister.invalid" (click)="register()"
                      class="btn btn-outline-primary-2">
                      <span>SIGN UP</span>
                      <i class="icon-long-arrow-right"></i>
                    </button>

                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="register-policy" formControlName="confirm"
                        required>
                      <label class="custom-control-label" for="register-policy">I agree to the <a href="#">privacy
                          policy</a> *</label>
                    </div><!-- End .custom-checkbox -->
                  </div><!-- End .form-footer -->
                </form>
                <div class="form-choice">
                  <p class="text-center">or sign in with</p>
                  <div class="row">
                    <div class="col-sm-6">
                      <a href="#" class="btn btn-login btn-g">
                        <i class="icon-google"></i>
                        Login With Google
                      </a>
                    </div><!-- End .col-6 -->
                    <div class="col-sm-6">
                      <a href="#" class="btn btn-login  btn-f">
                        <i class="icon-facebook-f"></i>
                        Login With Facebook
                      </a>
                    </div><!-- End .col-6 -->
                  </div><!-- End .row -->
                </div><!-- End .form-choice -->
              </div><!-- .End .tab-pane -->
            </div><!-- End .tab-content -->
          </div><!-- End .form-tab -->
        </div><!-- End .form-box -->
      </div><!-- End .modal-body -->
    </div><!-- End .modal-content -->
  </div><!-- End .modal-dialog -->
</div><!-- End .modal -->

<!-- <div class="container newsletter-popup-container mfp-hide" id="newsletter-popup-form">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="row no-gutters bg-white newsletter-popup-content">
        <div class="col-xl-3-5col col-lg-7 banner-content-wrap">
          <div class="banner-content text-center">
            <img src="assets/users/images/popup/newsletter/logo.png" class="logo" alt="logo" width="60" height="15">
            <h2 class="banner-title">get <span>25%</span> off</h2>
            <p>Subscribe to the Molla eCommerce newsletter to receive timely updates from your favorite products.</p>
            <form action="#">
              <div class="input-group input-group-round">
                <input type="email" class="form-control form-control-white" placeholder="Your Email Address"
                  aria-label="Email Adress" required>
                <div class="input-group-append">
                  <button class="btn" type="submit"><span>go</span></button>
                </div> -->
<!-- .End .input-group-append -->
<!-- </div> -->
<!-- .End .input-group -->
<!-- </form>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="register-policy-2" required>
              <label class="custom-control-label" for="register-policy-2">Do not show this popup again</label>
            </div> -->
<!-- End .custom-checkbox -->
<!-- </div>
        </div>
        <div class="col-xl-2-5col col-lg-5 ">
          <img src="assets/users/images/popup/newsletter/img-1.jpg" class="newsletter-img" alt="newsletter">
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- </body>

</html> -->
