<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<link rel="stylesheet" href="/assets/plugins/fontawesome-free/css/all.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="/assets/dist/css/adminlte.min.css">
<div class="hold-transition sidebar-mini">
  <div class="wrapper">

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" [ngStyle]="{'margin':'0px'}">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Profile</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/user">Home</a></li>
                <li class="breadcrumb-item active"><a routerLink="/admin/main/umanagement">User Management</a></li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">

              <!-- Profile Image -->
              <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                  <div class="text-center">

                  </div>

                  <h3 class="profile-username text-center">{{user.firstName|uppercase}}&nbsp;{{user.lastName|uppercase}}
                  </h3>

                  <p class="text-muted text-center">Software Engineer</p>

                  <!-- <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                      <b>Followers</b> <a class="float-right">1,322</a>
                    </li>
                    <li class="list-group-item">
                      <b>Following</b> <a class="float-right">543</a>
                    </li>
                    <li class="list-group-item">
                      <b>Friends</b> <a class="float-right">13,287</a>
                    </li>
                  </ul>

                  <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a> -->
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->

              <!-- About Me Box -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Information</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <strong><i class="fas fa-book mr-1"></i> Education</strong>

                  <p class="text-muted">
                    B.S. in Computer Science from the University of Tennessee at Knoxville
                  </p>

                  <hr>

                  <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

                  <p class="text-muted">{{user.address}}</p>

                  <hr>

                  <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>

                  <p class="text-muted">
                    <span class="tag tag-danger">UI Design</span>
                    <span class="tag tag-success">Coding</span>
                    <span class="tag tag-info">Javascript</span>
                    <span class="tag tag-warning">PHP</span>
                    <span class="tag tag-primary">Node.js</span>
                  </p>

                  <hr>

                  <strong><i class="far fa-file-alt mr-1"></i> Contact</strong>

                  <p class="text-muted">Email: {{user.email}}</p>
                  <p class="text-muted">Phone: {{user.phone}}</p>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
              <div class="card">
                <div class="card-header p-2">
                  <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Activity</a></li>
                    <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Settings</a></li>
                  </ul>
                </div><!-- /.card-header -->
                <div class="card-body">
                  <div class="tab-content">
                    <div class="active tab-pane" id="activity">
                      <p *ngIf="invoice.length==0">This user has no invoice recorded!</p>
                      <!-- Post -->
                      <div *ngIf="invoice.length>0">
                        <div class="post" *ngFor="let item of invoice">
                          <div class="user-block">
                            <span class="username" [ngStyle]="{'margin-left': '0px'}">
                              <a [routerLink]="['/admin/main/invoice/details/'+item.id]">{{item.customer}}</a>
                              <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                            </span>
                            <span class="description"
                              [ngStyle]="{'margin-left': '0px'}">{{item.date|date:'full'}}</span>
                          </div>
                          <!-- /.user-block -->
                          <p>
                            Delivery Method: {{item.ship}}<br>
                            Consignment Address: {{item.shippingAddress}}<br>
                            Payment Method: {{item.paymentMethod}}<br>
                          </p>
                          <input class="form-control form-control-sm" type="text" placeholder="Type a comment">
                        </div>
                      </div>
                      <!-- /.post -->
                    </div>
                    <div class="tab-pane" id="settings">
                      <div class="form-horizontal">
                        <div class="form-group row">
                          <label for="inputName" class="col-sm-2 col-form-label">Display Name</label>
                          <div class="col-sm-10">
                            <p>{{user.lastName}}&nbsp;{{user.firstName}}</p>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputName" class="col-sm-2 col-form-label">First Name</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Name" [(ngModel)]="user.firstName">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputName" class="col-sm-2 col-form-label">Last Name</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Name" [(ngModel)]="user.lastName">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputName" class="col-sm-2 col-form-label">Username</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Name" [(ngModel)]="user.username">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputName" class="col-sm-2 col-form-label">Phone</label>
                          <div class="col-sm-10">
                            <input type="number" class="form-control" placeholder="Name" [(ngModel)]="user.phone">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputName" class="col-sm-2 col-form-label">Identity Digits</label>
                          <div class="col-sm-10">
                            <input type="number" class="form-control" disabled="true" placeholder="Name"
                              [(ngModel)]="user.id">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputName" class="col-sm-2 col-form-label">Email</label>
                          <div class="col-sm-10">
                            <input type="email" class="form-control" placeholder="Name" [(ngModel)]="user.email">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputName" class="col-sm-2 col-form-label">Password</label>
                          <div class="col-sm-10">
                            <input type="password" class="form-control" placeholder="Name" [(ngModel)]="user.password">
                          </div>
                        </div>
                        <div class="form-group row roles">
                          <label for="inputName" class="col-sm-2 col-form-label">Roles</label>
                          <div class="col-sm-10">
                            <div class="row">
                              <div *ngFor="let item of user.userRolesDtos" class="col-3">
                                <p [ngStyle]="{'margin': '0px'}">{{item.roleDto.name}}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="offset-sm-2 col-sm-10">
                            <button type="submit" (click)="update()" class="btn btn-success">Save</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /.tab-pane -->
                  </div>
                  <!-- /.tab-content -->
                </div><!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

  </div>
